<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Demotek</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body data-new-gr-c-s-check-loaded="14.1094.0" data-gr-ext-installed="">
<div class="container">
    <h1>Products</h1>
    <p>spring boot  security </p>
    <form class="form-signin" method="get" action="/logout" pb-autologin="true" autocomplete="off">

        <button class="btn  btn-primary btn-block" type="submit" pb-role="submit"> logout</button>

    </form>
</div>
</body>
</html>

